<footer class="text-center">
  <div class="container">
    <div class="row gy-5 my-4">
      <div class="col-sm-4">
        <div class="p-1 p-md-0">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="p-1 p-md-0">
          <h3>AROUND THE WEB</h3>
          <div class="icons">
            <i class="fa-brands fa-facebook mx-1 icon"></i
            ><i class="fa-brands fa-twitter mx-1 icon"></i
            ><i class="fa-brands fa-linkedin-in mx-1 icon"></i
            ><i class="fa-solid fa-globe mx-1 icon"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="p-1 p-md-0">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Moamen
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>
