nav {
  transition: all 0.5s ease;
}
.navbar-style {
  background-color: var(--second-color);
}

.navbar-brand {
  font-size: 32px;
  text-transform: uppercase;
  --bs-navbar-brand-color: white;
  &:hover {
    --bs-navbar-brand-hover-color: white;
  }
  &:visited {
    color: white;
  }
}

.nav-link {
  font-weight: bolder;
  --bs-nav-link-color: white;
  &:hover {
    --bs-nav-link-hover-color: white;
  }
  &:visited {
    color: white;
  }
}

.navbar-nav {
  --bs-nav-link-padding-x: 1rem;
  .style-link {
    display: inline-block;
  }
}

.router-link-active {
  background-color: var(--main-color);
  color: white;
  border-radius: 0.5rem;
}
