.portfolio {
  margin-top: 86px;
  h2 {
    color: var(--second-color);
  }

  .layer {
    background-color: var(--main-color);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.6s;
  }
  .inner:hover .layer {
    opacity: 0.9;
  }
}

.modal {
  z-index: 9999;
  cursor: pointer;
}
.modal img {
  cursor: auto;
}
